body {
	color: #555;
}

.result_table table {
    border-collapse: separate;
    width: 100%;
}

.result_table th, td {
    text-align: left;
    padding: 8px;
}

.result_table tr:nth-child(even){
	background-color: #f2f2f2
}

.result_table th {
    background-color: #4CAF50;
    color: white;
}